body {
    font-family: "Roboto", "Raleway" sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 20px;
    line-height: 24px;
}

.logo {
    font: Raleway;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 1,117;
    letter-spacing: 0,03em;
}

a {
    text-decoration: none;
}

.main-nav {
    color: #434455;
    font-size: 16px;
    font-weight: 700;
}

.second-heading {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
}

.typical-paragraphs {
    font-size: 16px;
}

.main-txt {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
}

ul {
    list-style-type: none;
}

.bg-clr {
    color: #F4F4FD;
    background-color: #2E2F42; 
}

.link:hover, .link:focus {
    background-color: chocolate;
  }

.second-clr {
    color: #F4F4FD;
}

.logo-part-2 {
    color: #2E2F42;

}