body {
    font-family: Roboto, Raleway sans-serif;
    color: #2E2F42;
    background-color: #ffffff;
    font-size: 20px;
    line-height: 24px;
}

.logo-size  {
    font-size: 18px;
}

a {
    text-decoration: none;
}

.main-nav {
    color: #434455;
    font-size: 16px;
    font-weight: 700;
}

.second-heading {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
}

.typical-paragraphs {
    font-size: 16px;
}

.main-txt {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
}

ul {
    list-style-type: none;
}

.bg-style {
    color: #F4F4FD;
    background-color: #2E2F42; 
}

.input:focus, input:active {
    background-color: chocolate;
  }
