body {
    font-family: "Roboto", "Raleway" sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.logo {
    font-family: "Relaway" sans-serif;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 21px;
    letter-spacing: 3%;
    text-transform: uppercase;
    font-weight: 700;
}

.logo-part-2 {
    color: #2E2F42;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 3%;
}

a {
    text-decoration: none;
}

.main-nav {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2%;
}

.second-heading {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
}

.typical-paragraphs {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2%;
}

.main-txt {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
}

ul {
    list-style-type: none;
}

.bg-clr {
    color: #F4F4FD;
    background-color: #2E2F42; 
}

a:hover{
    color: #404bbf;
  }

a:focus {
    color: #404bbf;
}

a:active {
    color: #404bbf;
}

.second-clr {
    color: #F4F4FD;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 3%;
}

.Contacts-links {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2%;
}

